@use "utils";

.container {
  display: flex;
  width: 100%;
  height: 100vh;
  margin: auto;

  justify-content: center;
  background-color: #d7d9d9;
}

.content {
  display: flex;
  flex-direction: column;
  margin-top: 4rem;

  width: 100%;
  max-width: 600px;
  height: 400px;
  background-color: #bec2c2;

  padding: 2rem;
  border-radius: 10px;
  box-shadow: 10px 5px 3px #7c7f80;

  h1 {
    color: utils.$font-primary;
    margin-bottom: 2rem;
  }
}

.content form {
  display: flex;
  flex-direction: column;

  div {
    display: flex;
    flex-direction: column;

    label {
    }
  }
}
